*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

ul{
    padding-top: 30px;
    list-style-type: none;
}

body{
    background: url(../images/red-panda.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    padding: 10px;
}

/* custom properties */

.flex{
    display: flex;
}

.center-align{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.spaces{
    justify-content: space-between;
}

/* Header */

body > header{
    max-width: 800px;
    margin: auto;
}

li{
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.300);
    border-radius: 20px;
}



/* Body */

main{
    justify-content: center;
}


.text-body{
    min-height: 300px;
    background-color: rgba(0, 255, 255, 0.300);
    max-width: 600px;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    border-radius: 20px;
}



.arms-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.arms-image img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
    border-radius: 20px;
}


.the-text{
    font-size: 1.3em;
    padding: 20px;
}

/* footer */


footer{
    background-color: rgba(0, 255, 255, 0.300);
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
