*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

ul{
    padding-top: 30px;
    list-style-type: none;
}

body{
    background: url(../images/red-panda.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    padding: 10px;
}

/* custom properties */

.flex{
    display: flex;
}

.center-align{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.spaces{
    justify-content: space-between;
}

/* Header */

body > header{
    max-width: 800px;
    margin: auto;
}

li{
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.300);
    border-radius: 20px;
}



/* Body */

main{
    justify-content: center;
}


.text-body{
    min-height: 300px;
    background-color: rgba(0, 255, 255, 0.300);
    max-width: 550px;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    border-radius: 20px;
}



.arms-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.arms-image img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
    border-radius: 20px;
}


.the-text{
    font-size: 1.1em;
    padding: 20px;
}

p{
    margin-top: 10px;
}

/* footer */


footer{
    background-color: rgba(0, 255, 255, 0.300);
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer p{
    margin-top: 20px;
    font-size: 1.5em;
}


/* formulario */

form{
    padding: 20px;
}

input{
    width: 100%;
    background-color: rgba(240, 255, 255, 0.300);
    border-radius: 20px;
    min-height: 50px;
    color: black;
    font-size: 1.2em;
    border: none;
}

textarea{
    width: 100%;
    background-color: rgba(240, 255, 255, 0.300);
    border-radius: 20px;
    min-height: 100px;
    color: black;
    font-size: 1.2em;
    resize: none;
    border: none;
    text-align: center;
    padding: 10px;
}

.boton{
    margin-top: 20px;
    background-color: rgba(240, 255, 255, 0.500)
}
.tacbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tacbox input{
    flex-basis: 10%;
}
.tacbox.flex{
    margin: 0;
    padding: 0;
}


#checkbox{
    transform: scale(0.4);
}

/* imagen adicional */
.img1,.img2{
    width: 100%;
}
/* experiencias */
.anchoMaximo{
    width: 1250px;
}
.principal{
    margin: 20px auto;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
   justify-items: center;
    gap: 20px;
}
.pandas{
    border-radius: 15px;
    text-align: center;
}
.pandas h2{
    padding: 20px;
    margin: 20px auto;
    background: rgba(50, 50, 209, 0.405);
    border-radius: 10px;
    font-size: 1.6em;
}

.pandas .imgExp1{
    width: 660px;
    border: 30px solid rgba(0, 128, 0, 0.185);
    border-radius: 15px;
}

.pandas .imgExp2{
    width: 565px;
    border: 30px solid rgba(0, 128, 0, 0.185);
    border-radius: 15px;
}
.espacio{
    margin-left: auto;
}

.btn{
    background: rgb(228, 222, 222);
    display: inline-block;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-size: 1.4em;
    border-radius: 10px;
}
.espacio2{
    min-width: 560px;
}

.btn:hover{
    background: rgb(42, 138, 58);   
    color: rgb(218, 199, 199);
}
/* experiencia */
.grid-principal{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}
.grid-principal h1{
    margin: 20px auto;
    background: rgba(50, 50, 209, 0.405);
    border-radius: 10px;
    font-size: 1.6em;
}
.grid-principal h3{
    font-size: 1.4em;
}
.anchoMaximo{
    max-width: 1250px;
    margin: 20px auto;
}
/* juego-panda */
.grid-juego-panda {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    margin-top: 40px;
  }
  .btn-reinicia{
    margin-top: 20px;
    display: block;
    padding: 10px;
    background: rgb(153, 158, 153);
    color: rgb(32, 23, 23);
    border-radius: 10px;
  }
  .btn-reinicia:hover{
    
    background: rgb(194, 47, 28);
    color: rgb(194, 168, 168);
    
  }
  .grid-principal>h3{
    padding: 20px;
    margin: 20px auto;
    background: rgba(50, 50, 209, 0.405);
    border-radius: 10px;
    font-size: 1.6em;
  }
  .grid-principal>p{
    font-size: 1.7em;
  }

  .desayuno{
    text-align: center;
  }
  .desayuno h1{
    margin: 20px auto;
    background: rgba(50, 50, 209, 0.405);
    border-radius: 10px;
    font-size: 1.6em;
  }
  .desayuno img{
    width: 600px;
    border: 30px solid rgba(24, 132, 24, 0.503);
    border-radius: 10px;
  }
  .desayuno p{
    font-size: 1.6em;
    margin: 20px;
  }
  .comida li{
    text-align: left;
    list-style-type: circle;
    background: none;
    font-size: 1.2em;
  }
  .comida{
    padding-top: 0px;
  }
  /* archivos */
  .archivos{
    padding-left: 8px;
    padding-top: 11px;
  }